# Embedded git repositories and other projects
Mylo/
backups/
idc/
site archive/
sal new site/
phpMyAdmin/
onomonopia/
fridayarts/
ersatzlogik/

# Common files to ignore
.DS_Store
*.log
node_modules/
.env
